:host {
  box-sizing: border-box;
  display: block;
  padding: 3.125rem;
  height: 100%;
  background-image: url("../../../assets/images/shiny.svg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
