.container {
  width: 100vw;
  height: 100vh;
}

.nav {
  &--list {
    padding: 1.5rem 0;
    width: 200px;
  }
}

.d-flex-direction-column {
  display: flex;
  flex-direction: column;
}

.drawer-content {
  min-height: 600px;
}
